[submodule "general/fish"]
	path = general/fish
	url = git@github.com:yamaton/fish-completions-extra.git
[submodule "general/bash"]
	path = general/bash
	url = git@github.com:yamaton/bash-completions-extra.git
[submodule "general/zsh"]
	path = general/zsh
	url = git@github.com:yamaton/zsh-completions-extra.git
[submodule "bio/zsh"]
	path = bio/zsh
	url = git@github.com:yamaton/zsh-completions-bio.git
[submodule "bio/bash"]
	path = bio/bash
	url = git@github.com:yamaton/bash-completions-bio.git
[submodule "bio/fish"]
	path = bio/fish
	url = git@github.com:yamaton/fish-completions-bio.git
